@model IEnumerable<CLDV6211POE.Models.Products>

@{
    ViewData["Title"] = "Products";
}

<h1 style="margin: 0 auto; width: 500px">@ViewData["Title"]</h1>
<hr />
<div class="container">
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-md-6 mb-4">
                <div class="card" style="background-color: #252525">
                    <div class="card-body text-center">
                        <h5 class="card-title">@product.ProductName

                        </h5>
                        <a asp-controller="MyWork" asp-action="Details" asp-route-id="@product.ProductId">
                            <img src="/images/products/@product.ImageFileName" class="img-fluid product-image" alt="@product.ProductName" />
                        </a>
                        <p class="card-text mt-2" style="color:white; font-size:30px">@product.ProductPrice.ToString("C")</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<style>
    .card {
        border: 2px solid #BB86FC;
        border-radius: 5px;
        padding: 15px;
    }
    .card-title {
        font-size: 1.25rem;
        margin-bottom: 10px;
    }
    .card-text {
        font-size: 1.1rem;
        color: #555;
    }
    .img-fluid {
        max-height: 200px;
        max-width: 100%;
        object-fit: cover;
        border: 2px solid #000000;
    }
</style>