@model List<Products>
@{
    ViewData["TItle"] = "Index";
}

<h1 class="text-center mb-5">List of products</h1>
<hr />
<div class="row mb-5">
    <div class="col">
        <a class="btn" style="color:white; border:green solid;" asp-controller="Products" asp-action="Create">Add Product</a>
    </div>
</div>

<table class="table text-light">
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Product Price</th>
            <th>Product Category</th>
            <th>Product Availability</th>
            <th>Attached Image</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var Product in Model)
        {
            <tr>
                <td>PR@(Product.ProductId)</td>
                <td>@Product.ProductName</td>
                <td>R@(Product.ProductPrice)</td>
                <td>@Product.ProductCategory</td>
                <td>@Product.ProductAvailability</td>
                <td><img src="/Images/Products/@Product.ImageFileName" width="100" height="100"/></td>
                <td style="white-space:nowrap">
                    <a class="btn btn-sm" style="color:white; border:aqua solid;" asp-controller="Products" asp-action="Edit" asp-route-id="@Product.ProductId">Edit</a>
                    <a class="btn btn-sm" style="color:white; border:red solid;" asp-controller="Products" asp-action="Delete"
                       asp-route-id="@Product.ProductId" onclick="return confirm('Are you sure you want to remove this product?')">Delete</a>

                </td>
            </tr>
        }
    </tbody>
</table>